<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button (click)="getEchoCall()">Get Echo Call</ion-button>

  <br/>
  <ion-input type="number" [(ngModel)]="int1" placeholder="Enter digit 1"></ion-input>
  <ion-input type="number" [(ngModel)]="int2" placeholder="Enter digit 2"></ion-input>

  <br/>
  {{answer?.response}}
  <br/>

  <ion-button (click)="getSum()">Get Echo Call</ion-button>


</ion-content>
